flows (2).json
[{"id":"9f4a707b.5c6b7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"9f4a707b.5c6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":120,"wires":[]},{"id":"41aa1c8c.427374","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"287963e3.6915ac","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":160,"wires":[]},{"id":"fbc588d6.134818","type":"function","z":"9f4a707b.5c6b7","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["f2f2649a.0d0d98","7446141b.2681fc"]]},{"id":"d1383a54.6e1c88","type":"function","z":"9f4a707b.5c6b7","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["41aa1c8c.427374","f2f2649a.0d0d98"]]},{"id":"b7bac401.4ad778","type":"ibmiot in","z":"9f4a707b.5c6b7","authentication":"apiKey","apiKey":"9898c60a.cf8368","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345678","applicationId":"","deviceType":"Arduino","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":140,"wires":[["fbc588d6.134818","d1383a54.6e1c88","d00a56c5.c796f8"]]},{"id":"7446141b.2681fc","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"287963e3.6915ac","order":3,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":80,"wires":[]},{"id":"2d9c872a.5ae0a8","type":"http request","z":"9f4a707b.5c6b7","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Anantapur,IN&appid=60897a2ec9f372f842bc3e2f34ddf26f","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":300,"wires":[["713f3416.44e7ac","a9974b61.dc5918","f8234293.c79e3","f2811cb0.d2532"]]},{"id":"56789da9.1c56e4","type":"inject","z":"9f4a707b.5c6b7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["2d9c872a.5ae0a8"]]},{"id":"713f3416.44e7ac","type":"debug","z":"9f4a707b.5c6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":320,"wires":[]},{"id":"a9974b61.dc5918","type":"function","z":"9f4a707b.5c6b7","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["186bb1b6.e2dfae","b09deef.ee8651"]]},{"id":"186bb1b6.e2dfae","type":"debug","z":"9f4a707b.5c6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":420,"wires":[]},{"id":"f8234293.c79e3","type":"function","z":"9f4a707b.5c6b7","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["52c06165.bf045","7b1ad1fe.53d89"]]},{"id":"52c06165.bf045","type":"debug","z":"9f4a707b.5c6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":500,"wires":[]},{"id":"f2811cb0.d2532","type":"function","z":"9f4a707b.5c6b7","name":"Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["8ef4345d.db3ee8","b4a55d89.b82fb"]]},{"id":"8ef4345d.db3ee8","type":"debug","z":"9f4a707b.5c6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":580,"wires":[]},{"id":"b09deef.ee8651","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"79ea20d2.b68ef","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":360,"wires":[]},{"id":"7b1ad1fe.53d89","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"79ea20d2.b68ef","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":460,"wires":[]},{"id":"b4a55d89.b82fb","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"79ea20d2.b68ef","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":540,"wires":[]},{"id":"d00a56c5.c796f8","type":"function","z":"9f4a707b.5c6b7","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["f219b604.ec3aa8","f2f2649a.0d0d98"]]},{"id":"f219b604.ec3aa8","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"287963e3.6915ac","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":240,"wires":[]},{"id":"85f68241.114b9","type":"ui_button","z":"9f4a707b.5c6b7","name":"","group":"dec1370c.a6a528","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoron","payloadType":"str","topic":"","x":760,"y":140,"wires":[["a4cd2b31.aa9218"]]},{"id":"b99c18c9.a335f8","type":"ui_button","z":"9f4a707b.5c6b7","name":"","group":"dec1370c.a6a528","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":800,"y":220,"wires":[["a4cd2b31.aa9218"]]},{"id":"a4cd2b31.aa9218","type":"ibmiot out","z":"9f4a707b.5c6b7","authentication":"apiKey","apiKey":"9898c60a.cf8368","outputType":"evt","deviceId":"nitin17","deviceType":"1.0.6","eventCommandType":"blink","format":"json","data":"ss","qos":0,"name":"IBM IoT","service":"registered","x":1040,"y":180,"wires":[]},{"id":"287963e3.6915ac","type":"ui_group","z":"","name":"smart home","tab":"22b7d93a.4c2876","order":1,"disp":true,"width":5,"collapse":false},{"id":"9898c60a.cf8368","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"j9iec7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"79ea20d2.b68ef","type":"ui_group","z":"","name":"0pen weather API gauge","tab":"22b7d93a.4c2876","order":3,"disp":true,"width":"6","collapse":false},{"id":"dec1370c.a6a528","type":"ui_group","z":"","name":"Motor_Command","tab":"22b7d93a.4c2876","order":2,"disp":true,"width":"6","collapse":false},{"id":"22b7d93a.4c2876","type":"ui_tab","z":"","name":"Smart_Agriculture Gauges","icon":"dashboard","disabled":false,"hidden":false}]