nodered.text
[{"id":"9f4a707b.5c6b7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d6f2cb78.1ee408","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f1ec7be8.409ad8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8db00757.001d98","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9898c60a.cf8368","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"2r9q54.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bd19589c.c55538","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"287963e3.6915ac","type":"ui_group","z":"","name":"smart home","tab":"22b7d93a.4c2876","order":1,"disp":true,"width":"6","collapse":false},{"id":"22b7d93a.4c2876","type":"ui_tab","z":"","name":"smart home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"9f4a707b.5c6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":160,"wires":[]},{"id":"41aa1c8c.427374","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"287963e3.6915ac","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":320,"wires":[]},{"id":"fbc588d6.134818","type":"function","z":"9f4a707b.5c6b7","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["f2f2649a.0d0d98","7446141b.2681fc"]]},{"id":"d1383a54.6e1c88","type":"function","z":"9f4a707b.5c6b7","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["41aa1c8c.427374","f2f2649a.0d0d98"]]},{"id":"9e4830af.2b512","type":"ui_button","z":"d6f2cb78.1ee408","name":"","group":"287963e3.6915ac","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoron","payloadType":"str","topic":"","x":180,"y":180,"wires":[["c137e30f.acef5"]]},{"id":"510a6fd8.6e0c2","type":"ui_button","z":"d6f2cb78.1ee408","name":"","group":"287963e3.6915ac","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":240,"wires":[["c137e30f.acef5"]]},{"id":"2458df66.cdbf4","type":"http request","z":"f1ec7be8.409ad8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Anantapur,IN&appid=60897a2ec9f372f842bc3e2f34ddf26f","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":360,"wires":[["5422b9e0.8c1e08","ba708d8b.f6c95","254f26fe.6e53ea","b0336d62.9286e"]]},{"id":"9f8a1b11.7278e8","type":"inject","z":"f1ec7be8.409ad8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":360,"wires":[["2458df66.cdbf4"]]},{"id":"5422b9e0.8c1e08","type":"debug","z":"f1ec7be8.409ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":360,"wires":[]},{"id":"ba708d8b.f6c95","type":"function","z":"f1ec7be8.409ad8","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["c07cb5c4.2c1318"]]},{"id":"c07cb5c4.2c1318","type":"debug","z":"f1ec7be8.409ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":480,"wires":[]},{"id":"254f26fe.6e53ea","type":"function","z":"f1ec7be8.409ad8","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["b4704849.064c08"]]},{"id":"b4704849.064c08","type":"debug","z":"f1ec7be8.409ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"b0336d62.9286e","type":"function","z":"f1ec7be8.409ad8","name":"Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["c7a5b6b5.898458"]]},{"id":"c7a5b6b5.898458","type":"debug","z":"f1ec7be8.409ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":640,"wires":[]},{"id":"337a6de3.eadc32","type":"debug","z":"8db00757.001d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":320,"wires":[]},{"id":"b7bac401.4ad778","type":"ibmiot in","z":"9f4a707b.5c6b7","authentication":"apiKey","apiKey":"9898c60a.cf8368","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nitin17","applicationId":"","deviceType":"nitin","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["fbc588d6.134818","d1383a54.6e1c88"]]},{"id":"c137e30f.acef5","type":"ibmiot out","z":"d6f2cb78.1ee408","authentication":"apiKey","apiKey":"9898c60a.cf8368","outputType":"evt","deviceId":"nitin17","deviceType":"1.0.6","eventCommandType":"blink","format":"json","data":"ss","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":160,"wires":[]},{"id":"71d7d07d.ade3c","type":"ibmiot in","z":"8db00757.001d98","authentication":"apiKey","apiKey":"9898c60a.cf8368","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nitin17","applicationId":"","deviceType":"nitin","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":260,"wires":[["337a6de3.eadc32"]]},{"id":"7446141b.2681fc","type":"ui_gauge","z":"9f4a707b.5c6b7","name":"","group":"287963e3.6915ac","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]}]